/*THIS WAS ALREADY HERE*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*THE FOLLOWING IS MY CSS*/
* {
  margin: 0;
  padding: 0;
}

/*NAVBAR LINKS ANIMATION*/
a {
  position: relative;
  text-decoration: none;
  color: gray;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

a:after {
  content: "";
  position: absolute;
  background-color: gray;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -3px;
  transition: 0.15s;
}

a:hover {
  color: black;
}

a:hover:after {
  width: 100%;
}

/*LOG CARD*/
.log-card {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  min-height: 650px;
  width: 435px;
  box-shadow: 4px 6px 15px -3px rgba(0, 0, 0, 0.65);
  padding: 0px 30px;

  /* column-span: all; */
}

.log-cards {
  display: flex;
  width: 1368px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  padding-top: 80px;
}

.log-card-row {
  display: flex;
}

.log-card-row > p {
  width: 50%;
}

.log-card:hover {
  transform: translateY(-0.75px);
  box-shadow: 4px 6px 15px -1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
  /* opacity: 0.8; */
  /* mix-blend-mode: unset; */
}

.log-card:active {
  transform: translateY(-1px);
  box-shadow: 4px 6px 8px -1px rgba(0, 0, 0, 0.65);
  /* opacity: 0.8; */
}

/*EDIT BUTTON*/
.edit-button {
  padding: 0px 8px 0px 8px;
}

/*TEXT FONT*/
.log-text {
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-text p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

/*PROFILE PICTURE*/
.profile-pic {
  height: 200px;
  width: 200px;
  border: 4px solid lightgray;
  border-radius: 50%;
  margin-bottom: 15px;
}

/*STAR RATING*/
.ratings {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 95%;
}

/*RATINGS BOTTOM OF CARD TRASH CAN*/
.card-bottom {
  display: flex;
  height: 145px;
}

.delete-flight {
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.delete-flight > button {
  border: none;
}

/*RATINGS*/
.ratings-item {
  display: flex;
  align-items: center;
}

.ratings-item > span {
  width: 30%;
}

.star-rating {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.star-rating .foreground {
  color: rgb(254, 202, 27);
  position: absolute;
  display: flex;
  overflow: hidden;
}

.star-rating .background {
  display: flex;
}

/*HOME PAGE*/
.captain-stripes {
  height: calc(100vh);
  padding-top: 80px;
  position: relative;
  /* z-index: 1; */
}

.captain-stripes > img {
  position: absolute;
  top: 10%;
  left: 75%;
  width: 400px;
  /* z-index: 3; */
}

.captain-stripes > button {
  color: white;
  background-color: black;
}

/*Home Page Cover Image of Captains Suit Jacket Stripes*/
.captain-stripes {
  /* background: url(images/pilot_ranking_stripes.jpeg) no-repeat center center
    fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  /* opacity: 0.7; */
}

#logo {
  filter: blur(0);
  position: absolute;
  top: 10%;
  left: 63%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#logo > img {
  width: 500px;
  transform: translateX(80px);
  /* margin-right: 100px; */
}

.slogan {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slogan > h1 {
  color: white;
  font-size: 80px;
}

.slogan > button {
  color: white;
  background-color: black;
  padding: 10px 80px;
  font-size: 22px;
  font-weight: 600;
}

/*LOG NEW FLIGHT FORM PAGE*/
.form {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}

/*CONTACT US*/

.contact-us-container {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.contact-us-container {
  display: flex;
}

.contact-us-card {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #cacaca;
  box-shadow: 4px 6px 15px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  padding: 10px;
  color: black;
}

/*HOME*/
.home-container {
  width: 100%;
}

/*RESPONSIVENESS*/

/*INPUT FIELDS*/
/* .custom-field.one input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input:valid,
.custom-field.one input:focus {
  border-color: #222;
  transition-delay: 0.1s;
}

.custom-field.one input + .placeholder {
  padding: 0.5px;
  left: 8px;
}

.custom-field.one input:valid + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 20px;
  background: #fff;
} */
